<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="velodyne"/>
  <group ns="$(arg namespace)">
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
      <arg name="max_range" value="130.0"/>
      <arg name="min_range" value="0.4"/>
      <arg name="device_ip" value="192.168.1.201"/>
      <arg name="port" value="2368"/>
    </include>
  </group>
</launch>
